html {
	height: 100%;
}

body {
    font-size: 8px;
}

hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.cssPager td {
    font-size: 15px;
    padding: 0px 4px 0px 4px;
    color:#fff;
    background-color: #3d9520;
    background: rgb(230, 16,21);
    background: -moz-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: -webkit-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11 ,21) 70%);
    background: -o-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: -ms-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: linear-gradient(180deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    text-shadow: 1px 1px 5px #000;
}
.cssPager td a:hover {
    color: #fff;
    text-align: center;
}
.cssPager td a {
    color: #000;
    text-align: center;
}

.banner {
    display: block;
    background-repeat: no-repeat;
}

#imgbanner {
    padding: 10px 10px 10px 30px;
}

#imgbannerlpg {
    padding: 10px 30px 10px 10px;
}

.navbar {
	margin-bottom: 0;
	background: #fff;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
	background: none;
	color: #000;
}
.navbar .navbar-nav li a,
.navbar .navbar-nav li a:hover {
	color: #000;
}
.navbar .navbar-nav > .active,
.navbar .navbar-nav li:hover {
	background: #E7E7E7;
	color: #000;
}

.navbar .navbar-toggle .icon-bar {
	background: #000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
	background: #fff;
}

p{
	font-size: 18px;
    font-weight: 100;
}

h1 {
	text-align: center;
}

table th {
    text-align: center;
    color:#fff;
    background-color: #3d9520;
    background: rgb(230, 16,21);
    background: -moz-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: -webkit-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11 ,21) 70%);
    background: -o-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: -ms-linear-gradient(90deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    background: linear-gradient(180deg, rgb(252, 0,13) 30%, rgb(207, 11, 21) 70%);
    text-shadow: 1px 1px 5px #000;
}

.kanan {
    padding-left: 20px;
}

.batas {
    padding-top: 10px;
}

.near {
	margin-bottom: -20px;
}

.red {
    color: #ED9F31;
}
.atas {
    margin-top: -65px;
    margin-left: 5px;
}

.ataspp {
    margin-top: -55px;
    margin-left: 5px;
}

.badge {
    background-color: #5A95F3;
}

.copyright {
	text-align: right;
}

